<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227174572060-bem7bbo8fo3u17agn5eg3kt6eit3ljii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227174572060-bem7bbo8fo3u17agn5eg3kt6eit3ljii</string>
	<key>API_KEY</key>
	<string>AIzaSyCybzgUvlZHUvtmVdXu8Tv-NxWu3MWNLbI</string>
	<key>GCM_SENDER_ID</key>
	<string>227174572060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterHandsOn</string>
	<key>PROJECT_ID</key>
	<string>flutter-hands-on-86237</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-hands-on-86237.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227174572060:ios:25f911745d799c61353fd9</string>
</dict>
</plist>